$contPadding: 0 10em;
$priColor: #34d6ff;
$secColor: rgba(100,70,191);
$baseCOlor:rgba(66,115,193,255);
$heroPadding: 0 8em;
$superHeader: 50px;
$superHeaderWeight: bolder;
$headerSize: 90px;
$contGap: 125px;
$mobPadding: 0 5em;