// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'variables';
@import 'mobile';
* {
    font-family: 'Poppins';
}
.cont {
    padding: $contPadding;
}.splash {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 100;
    transition: all .7s ease-in-out;
    .custom-header {
        animation: splashAnimation .8s linear infinite alternate;
    }
}
@keyframes splashAnimation {
    from {
        transform: scale(1);
    } to {
        transform: scale(1.1);
    }
}

.fit-cont {
    width: 100%;
    height: 100%;
    object-fit: cover;
}.custom-header {
    font-size: $headerSize;
    line-height: 100px;
    color: $baseCOlor;
    margin: 0;
    font-weight: $superHeaderWeight;
}.sub-topic {
    color: $baseCOlor;
    position: relative;
} .sub-topic:after {
    content: '';
    position: absolute;
    top: .8em;
    margin-left: 1em;
    width: 3em;
    border-top: 1px solid $baseCOlor;
} .short-desc {
    font-size: 20px;
    font-weight: 300;
}.f-overlay {
    background-color: rgba(100,70,191,.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} .dot-nav {
    border-radius: 50%;
    display: block;
    background-color: $priColor;
    height: 8px;
    width: 8px;
    cursor: pointer;
}

.top-header {
    position: relative;
    z-index: 15;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: $contPadding;
    background-color: $priColor;
    min-height: 3em;
    font-size: 14px;
    span {
        margin-right: 1em;
    } div {
        img {
            height: 15px;
            margin-left: 1em;
        }
    }
}.navbar {
    position: relative;
    z-index: 15;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $contPadding;
    min-height: 4em;
    ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            margin-left: 1em;
            color: white;
        }
    } .b-mnu {
        display: none;
        color: white;
    }
    div {
        font-size: 35px;
        color: white;
    }
}.hero-cont {
    position: relative;
    width: 100%;
    min-height: 100vh;
    top: -6.5em;
    z-index: 10;
    background-image: url('./images/plumbing-home.jpg');
    background-position-x: center;
    background-position-y: -20px;
    background-size: cover;
    background-repeat: no-repeat;
    .hero-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: rgba(100,70,191,.8);
        min-height: 100vh;
        width: 100%;
        div {
            color: white;
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            
            span:nth-child(2) {
                font-size: $headerSize;
                line-height: 110px;
                font-weight: bolder;
                span {
                    color: $priColor;
                }
            } span {
                width: 75%;
                margin: 10px 0;

            }.custom-btn {
                span {
                    width: fit-content;
                    right: 25px;
                }
            }.hero-slide {
                width: 50%;
                height: 675px;
                left: 150px;
                overflow: hidden;
                position: absolute;
                bottom: 20px;
                z-index: 15;
                .slide-nav {
                    display: flex;
                    gap: 10px;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    flex-direction: row;
                    bottom: 10px;
                    z-index: 15;
                    .dot-nav {
                        border-radius: 50%;
                        display: block;
                        background-color: $priColor;
                        height: 8px;
                        width: 8px;
                        cursor: pointer;
                    }
                    
                }
            }
            
        }
    } .hero-footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $priColor;
        color: white;
        font-size: $superHeader;
        font-weight: $superHeaderWeight;
        padding: .5em 4em;
    }
}

.about-cont {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    margin-top: -9em;
    // background-image: url('');
    // background-repeat: no-repeat;
    background:linear-gradient(88deg, 
            #fff 1.15%, rgba(253, 246, 235, 0.89) 90.02%,
            rgba(253, 246, 235, 0.86) 15.88%,),
            url('./images/p5.jpg') no-repeat center, 
            lightgray -0.675px -16.405px / 100.36% 138.657% no-repeat;
    background-position-x: center;
    background-position-y: -5px;
    background-size: cover;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .img-cont {
            width: 75%;
            height: 575px;
            padding: 1em;
            position: relative;
            box-shadow: 5px 5px 10px 5px rgba(0,0,0,.1);
            background-color: white;
            div {
                position: absolute;
                width: 50%;
                height: 220px;
                bottom: -100px;
                right: -6.5%;
                padding: 1em;
                box-shadow: 5px 5px 10px 5px rgba(0,0,0,.1);
                background-color: white;
            }
        }
        .sub-topic, p {
            align-self: flex-start;
            width: 95%;
            font-size: 18px;
            font-weight: 300;
        } h1 {
            align-self: flex-start;
            width: 95%;
        } .custom-btn {
            background-color: $baseCOlor;
            margin-top: 2em;
            color: white;
            font-weight: bold;
            span {
                color: white;
                right: 1.8em;
            }
        }
    }

}

.feature-cont {
    margin-top: $contGap;
    text-align: center;
    h1 {
        margin-bottom: .2em;
    }
    .f-info {
        
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            div {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                span:nth-child(1) {
                    font-weight: bolder;
                    font-size: 25px;
                } span:nth-child(2) {
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        .proj-card {
            height: 475px;
            margin-top: 2em;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            .f-overlay {
                background-color: rgba(100,70,191,.8);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 92.7%;
                padding-top: 35px;                
                span {
                    margin-right: 35px;
                    display: block;
                    color: white;
                }
            }
        } .proj-card:nth-child(1) {
            background-image: url('./images/p4.jpg');
        }.proj-card:nth-child(2) {
            background-image: url('./images/p5.jpg');
        }.proj-card:nth-child(3) {
            background-image: url('./images/p6.jpg');
        }.proj-card:nth-child(4) {
            background-image: url('./images/p7.jpg');
        }
    }
}

.story-cont {
    padding-top: $contGap;
    padding-bottom: $contGap;
    display: grid;
    grid-template-columns: 1fr 2fr;
    .testi-cont {
        position: relative;
        padding-left: 2em;
        .slide-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2em;
            gap: 8px;
            span {
                background-color: $baseCOlor;
            }
        }
        .testi-msg {
            position: relative;        
            background-image: url('./images/p7.jpg');
            background-position:center;
            background-size: cover;
            background-repeat: no-repeat;
            min-height: 400px;
            display: flex;
            flex-direction: column;
            font-size: 20px;
            padding: 5em 2em 3em 2em;
            color: white;
            // width: 75%;
            span {
                position: relative;
                z-index: 15;
            }
            span:nth-child(3) {
                justify-self: flex-end;
                align-self: flex-end;
                margin-top: auto;
            } span:nth-child(1) {
                position: absolute;
                top: 0;
                right: 0;
                transform: rotate(-180deg);
                font-size: 5em;
                color: $priColor;
            }
        } .testi-msg::before {
            content: '';
            position: absolute;
            z-index: 15;
            left: 0;
            top: 0;
            border-right: .5em solid $priColor;
            height: 60%;
        } .testi-img {
            position: absolute;
            bottom: -50px;
            left: -45px;
            border: 10px solid $priColor;
            height: 150px;
            width: 150px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
    }
}

.contact-cont {
    display: grid;
    position: relative;
    z-index: 15;
    grid-template-columns: 1fr 1fr;
    .custom-header {
            font-size: 40px;
        }
    .contact-form {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        box-shadow: 15px 15px 0 rgba(187,241,255,1);
        background-color: white;
        border: .6px solid rgba(187,241,255,1);
        padding: 4em;
         input ,textarea {
            border: .6px solid rgba(0,0,0,.2);
            outline: none;
            margin-top: 2em;
            padding: 15px;
        } textarea {
            resize: none;
        } button {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: $baseCOlor;
            margin: 2em 0;
            width: 100%;
            height: 3.5em;
            border: none;
            font-size: 17px;
        }
    } .contact-detail {
        padding-left: 4em;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .contact-note {
            font-weight: 300;
        } .custom-header {
            margin-top: 0;
            line-height: 45px;
            margin-bottom: .5em;
        }
        .contact-note::after {
            content: '';
            border-top: 1px solid rgba(0,0,0,.2);
            display: block;
            width: 40%;
            margin: 1em 0;
        } ul {
            padding: 0;
            list-style-type: none;
            li {
                margin-bottom: 1em;
                font-weight: 300;
                b {
                    font-weight: 500;
                }
            }
        } .area-header {
            font-size: 20px;
        } .areas-list {
            li {
                margin-bottom: 2px;
            }
        }
    }
}

.quote-cont {
    margin-top: 2em;
    text-align: center;
    width: 100%;
    height: 450px;
    padding-top: 4em;
    background-image: url('./images/p5.jpg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: -10em;
    span, h1 {
        position: relative;
        z-index: 15;
        margin-bottom: 15px;
        color: white;
    } .sub-topic:after {
        border-top: 1px solid white;
    }

}

.footer-cont {
    margin-top: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: $baseCOlor;
    padding-top: 4em;
    padding-bottom: 4em;
    .custom-header {
        font-size: 20px;
        margin-bottom: 30px;
        margin-top: 20px;
        line-height: 25px;
        color: $secColor;
    }
    .logo-cont {
        max-width: 90%;
        padding: 1em;
        background-color: white;
         p {
            margin: 0;
        }
    } .quick-links {
        max-width: 100%;
        padding: 0 1em;
        .custom-header {
            color: $priColor;
            margin-bottom: 20px;
        }
        ul {
            padding: 0;
            list-style-type: none;
            color: white;
            li{
                
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 10px;
                a {
                    text-decoration: none;
                    color: white;
                }
            } 
        }
    }
} .footer-bottom {
    background-color: #24437c;
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: space-between;
    a {
        color: white;
    } .footer-media {
        display: flex;
        gap: 1em;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2em;
            width: 2em;
            border-radius: 50%;
            border: 1px solid white;
            img {
                height: 1em;
                width: 1em;
            }
        }
    } 
}

.service-cont {
    margin-top: 4em;
    .services-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        margin-top: 1em;
        div {
            border: 1px solid $priColor;
            padding: 2em;
            display: flex;
            max-width: 45%;
            position: relative;
            flex-direction: column;
            min-height: 250px;
            span {
                color: $baseCOlor;
                font-weight: 500;
                font-size: 25px;
            }p {
                font-weight: 300;
                b {
                    font-weight: 500;
                }
            } a {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                width: fit-content;
                justify-self: flex-end;
                align-self: flex-end;
                margin-top: auto;
                color: $baseCOlor;
                opacity: .6;
            }
        } div::after {
            content: '';
            position: absolute;
            border-left: 5px solid $baseCOlor;
            right: -5px;
            bottom: 0;
            height: 50px;
        } div::before {
            content: '';
            position: absolute;
            border-bottom: 5px solid $baseCOlor;
            right: -5px;
            bottom: -5px;
            width: 50px;

        }
        div:nth-child(1), div:nth-child(2) {
            width: 35%;
        }
    }
}